* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #191724; /* Background color of the entire page */
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #434867;
}

::-webkit-scrollbar-thumb {
    background-color: #26233a;
}

/* Nav Bar */
#navbar {
    position: sticky;
    font-family: 'Lato', sans-serif;
    top: 0px;
    background-color: #1f1d2e;
    text-align: left;
    margin: 0px;
    overflow: hidden;
    z-index: 100;
}

#navbar a {
    text-decoration: none; /* This shows text cleanly */
    font-size: 17px;
    letter-spacing: 1px; /* Spaced out the letters a bit */
    box-sizing: border-box;
    display: inline-block;
    color: #e0def4;
    text-align: center;
    padding: 13px 10px;
}

/* Colors applied when hovering with the mouse through the buttons */
#navbar a:hover {
    background: #26233a;
    color: #31748f;
}
/* END Nav Bar */

.user-card {
    background-color: #191724;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2.3rem;
    color: #e0def4;
    padding-top: 6%;
    padding-bottom: 6%;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 13px solid #26233a;
    position: relative;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    padding-top: 60px; /* This fixes the text/colors not touching the margins */
    padding-bottom: 60px;
    text-align: center;
    color: #9ccfd8;
    background-color: #191724;
    text-transform: uppercase;
    font-size: 33px;
}

h4 {
    color: #c4a7e7;
}

footer {
    background-color: peru;
    clear: both;
    padding: 50px 0;
    text-align: center;
}

section {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.projects {
    background: #434867;
}

.divide-curve1 {
    position: absolute;
    top: -1%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divide-curve1 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 74px;
}

.divide-curve1 .shape-fill {
    fill: #191724;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    max-width: 33.333%;
    padding: 0.75rem;
    margin-bottom: 4rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card > img {
    margin-bottom: 0.5rem;
    width: 100%;
}

.card-text {
    font-size: 85%;
}
