*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --cc-white: hsl(0, 0%, 100%);
  --cc-light-grey: hsl(212, 45%, 89%);
  --cc-greyish-blue: hsl(220, 15%, 55%);
  --cc-dark-blue: hsl(218, 44%, 22%);
}

html,
body {
  background-color: var(--cc-light-grey);
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  height: calc(100vh - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.125rem;
}

.container {
  background-color: var(--cc-white);
  padding: 1.125rem;
  border-radius: 1.25rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.05);
}

.container img {
  border-radius: 1rem;
  max-width: 100%;
  margin-bottom: 1.125rem;
}

.container h1 {
  color: var(--cc-dark-blue);
  margin-bottom: 1.125rem;
  text-align: center;
}

.container p {
  color: var(--cc-greyish-blue);
  text-align: center;
}

p {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
